include parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title #{siteName}
style.
	#logo {
		font-size: 240px;
		margin: 0;
	}
	#logo:before {
		margin: 0;
	}
	.bg-faded {
		background: none;
	}
include parts/head2
#wrapper
	nav.navbar.navbar-light.bg-faded
		ul.nav.navbar-nav.pull-xs-right.m-x-2
			li.nav-item.active
				a.nav-link(href='#{host}') Home
			li.nav-item
				a.nav-link(href='#{host}/cat/default') Posts
			li.nav-item
				a.nav-link(href='#{host}/login') Login
	#content.container
		.p-y-2.p-x-3

			.text-xs-center
				h1
					span#logo.icon-jadepress1
				p.lead <code>jade-press</code> is a cms based on mongodb, nodejs, koa, vue and more
				hr.m-y-2
				p.lead.btn-group
					a.btn.btn-primary(href='https://github.com/jade-press/jade-press', role='button', rel='external nofollow', target='_blank')
						span.icon-github-circled-alt2
						| github
					a.btn.btn-warning(href='https://github.com/jade-press/jade-press/releases', role='button', rel='external nofollow', target='_blank')
						span.icon-download-cloud
						| download
			.p-y-2
			h3.text-xs-center try it
			hr
			pre.prettyprint.lang-bash.
				# make sure your mongodb running
				# visit https://www.mongodb.com/download-center?jmp=nav#community for more info

				# make sure cairo installed,
				# visit https://github.com/Automattic/node-canvas/wiki/_pages for system spec

				git clone git@github.com:jade-press/jade-press.git
				cd jade-press
				npm install
				cp config-sample.js config.js

				# read and edit config.js to define all the settings 

				# install plugins if have plugins
				gulp install

				# run it
				node app

				#then visit http://127.0.0.1:7200 (if use default setting)

			.p-y-2

			h2 features
			hr
			ul
				li.p-b-1 based on mongodb(database and session), nodejs 5+, koa, vue...
				li.p-b-1 built in jade(pug) editor
				li.p-b-1 file upload (to mongodb gridfs), insert, manage
				li.p-b-1 custom routes
				li.p-b-1 plugin system
				li.p-b-1 theme system
				li.p-b-1 user system
				li.p-b-1 user groups and custom access control based on url
				li.p-b-1 post and category
				li.p-b-1 custom style & script & features file/image for every post
				li.p-b-1 can be used as a module to extend
				li.p-b-1 auto-database-update between different versions

			.p-y-2

			h2 use jade-press as a module
			hr
			pre.prettyprint.lang-javascript.
				//config.js

				//.... other setting
				    ,theme: {
				        path: __dirname
				        ,name: 'your-name'
				        ,version: 'xx.xx.xx'
				    }
				//.... other setting

			pre.prettyprint.lang-javascript.
				//app.js

				/*!
				 * main entrance
				**/

				'use strict'

				let init = require('jade-press').init
				,co = require('co')
				,config = require('./config')

				co(init(config))
				.then(function(app) {
				    let port = config.local.port
				    app.listen(port, '127.0.0.1', function() {
				        console.log('' + new Date(), config.local.siteName, 'runs on port', port)
				    })
				}, function(err) {
				    console.error(err.stack || err)
				})


			p
				|example: 
				a(href='https://github.com/jade-press/blog.jade-press.org', rel='external nofollow', target='_blank') https://github.com/jade-press/blog.jade-press.org 

			.p-y-2
			h2 theme
			hr
			div check the examples:
			ul
				li
					a(href='https://github.com/jade-press/jadepress-theme-pi', rel='external nofollow', target='_blank') basic theme: jadepress-theme-pi
				li
					a(href='https://github.com/jade-press/jadepress-react-spa', rel='external nofollow', target='_blank') react spa theme(react, redux, history api)
				li
					a(href='https://github.com/jade-press/jadepress-vue-spa', rel='external nofollow', target='_blank') vue spa theme(vue1.x, vuex, vue-router)

			.p-y-2
			h2 plugin
			hr
			div check the examples:
			ul
				li
					a(href='https://github.com/jade-press/jadepress-plugin-qr', rel='external nofollow', target='_blank') https://github.com/jade-press/jadepress-plugin-qr
				li
					a(href='https://github.com/jade-press/jadepress-redis', rel='external nofollow', target='_blank') https://github.com/jade-press/jadepress-redis
				li
					a(href='https://github.com/jade-press/jadepress-static', rel='external nofollow', target='_blank') https://github.com/jade-press/jadepress-static

			.p-y-2
			h2 license
			hr
			p MIT

			.p-y-3

			include parts/footer-html

include parts/footer-js
include parts/footer-end